#col_area {
    display: flex;
    text-align: left;


}

#col_area_2 {
    display: flex;
    text-align: left;
 
}

#col_area_3 {
    display: flex;
    text-align: left;
    text-align: left;
    background-color: #38490D;
    color: white;
    border: 4px solid #9FAA17;
    overflow-y: auto;

}

#row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    background-color: #38490D;
    color: white;
    border: 4px solid #9FAA17;
    overflow-y: auto;

}
.col {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 5px;
    width: 50%;
    border: 4px solid #352C14;
    font-size: 1.5em;
}
.col ul {
    text-align: center;
    list-style-position: inside;
}

.col img{
    width: 100%;
}
.col .button {
    font-size: 1.0em;
    line-height: 80%;
 
    padding-bottom: 3px;
}
body{
    background-color: #352C14;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#container {
    background-color: #FFFCC0;
}
nav {
    background-color: #75750B;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;

}
nav li{
    display: block;
    border-bottom: 2px solid #75750B;
}
nav li a {
    display: block;
    height: 40px;
    background-color: #FFFCC0;
    color: #352C14;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 0;

}

nav li a:hover {
    background-color: #9FAA17;
    color: white;
    border-color: #75750B;
}

h1,h2,h3 {
    text-align: center;
}

main {
    padding: 10px;
    
}
footer {
    background-color: #38490D;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.button {
    display: block;
    background-color: #75750B;
    width: 60%;
    height: 40px;
    line-height: 100%;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 4px dashed #38490D;
    margin: auto auto;
    text-align: center;
    padding: 10px;
}

.button:hover{
    background-color: #352C14;
    color: white;
    border-color: #9FAA17;
}

table{
    text-align: left;
    background-color: #38490D;
    color: white;
    border: 4px solid #9FAA17;
}
tr {
    background-color: #75750B;
}
td {
    
    width: 25%;
}
td .button{
    height: 50%;
    line-height: 100%;
    font-size: 1.2em;
}


@media screen and (min-width: 800px) {
    .col {
      flex: 2
    }
  
  }