

._pic{
    width: 100%;
    align-self: center;
}
audio {
    display: block;
    margin: 0 auto;
    width: 2%;
    height: 20%;
}
video {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    text-align: center;
    padding: 5px;
    background-color: #38490D;
    color: white;
    border: 4px solid #9FAA17;
   

}
.col {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    
    line-height: 100%;
    padding: 5px;
    width: 50%;
    border: 4px solid #352C14;
    font-size: 1.8em;
}
.col2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    line-height: 100%;
    padding: 5px;
    width: 50%;
    border: 4px solid #352C14;
    font-size: 1.6em;
}
.col2 ul{
    text-align:left;
    padding: 0 30%;
    list-style-position:inside;
}
.col2 .button {
    font-size: 1.0em;
}
.col3 {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    line-height: 120%;
    padding: 5px;
    width: 50%;
    border: 4px solid #352C14;
    font-size: 1.4em;
}
.col ul {
    text-align:left;
    padding: 0 30%;
    list-style-position:inside;
}

.col img{
    width: 100%;
}
.col .button {
    line-height: 80%;
    
    font-size: .9em;
}
body{
    background-color: #352C14;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#container {
    background-color: #FFFCC0;
   
    
}
nav {
    background-color: #75750B;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;

}
nav li{
    display: block;
    border-bottom: 2px solid #75750B;
}
nav li a {
    display: block;
    height: 40px;
    background-color: #FFFCC0;
    color: #352C14;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 0;

}

nav li a:hover {
    background-color: #9FAA17;
    color: white;
    border-color: #75750B;
}
header{
    background-color: #75750B;
}
h1 {
    color: white;
}
h2 {
    color: white;
    background-color: #38490D;
    border: 4px solid #75750B;
    padding: 10px;
    font-size: 2.0em;
    text-align: center;
        
}
h3 {
    background-color: #75750B;
    border: 4px solid #38490D;
    font-size: 1.4em;
    padding: 10px;
    color: white;
    text-align: center;
    line-height: 100%;

}
h4 {
    text-align: center;
    background-color: #75750B;
    border: 4px solid #38490D;
    font-size: .8em;
    padding: 10px;
    color: white;
}

p {
    font-size: 1.2em;
    
}
p2 {
    font-family: "Nunito", serif;
    margin: 0 5px;
    padding: 5px;
    font-size: .8em;
    
}
ul {
    font-size: 1.1em;
}
h1,h2,h3 {
    text-align: center;
}

main {
    font-family: "Nunito", serif;
    padding: 10px;
    background-color: #FFFCC0;
    
}
footer {
    background-color: #75750B;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.button {
    display: block;
    background-color: #75750B;
    width: fit-content;
    height: fit-content;
    line-height: 100%;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 4px dashed #38490D;
    margin: auto auto;
    text-align: center;
    padding: 10px;
}

.button:hover{
    background-color: #352C14;
    color: white;
    border-color: #9FAA17;
}

table{
    width: 100%;
    background-color: #38490D;
    color: white;
    
}
table img {
    width: 50%;
    object-fit:fill;
    object-position: 0px 5px;
}
tr {
    border: 4px solid #38490D;

}
td {
    border: 5px solid #9FAA17;

}
td .button{
    height: fit-content;
    line-height: 100%;
    font-size: 1.2em;
}


@media screen and (min-width: 800px) {
   
    
    nav li{
        font-size: 1.0em;
        display: inline-block;
        border: 0;
    }
    nav li a{
        padding: 5px 5px;
        width: fit-content;
        height: fit-content;
        text-align: center;

        border-radius: 10px;
        border: 4px solid #9FAA17;
    }
    main p {
        font-size: 1.75em;
    }
    main ul {
        font-size: 1.75em;
    }
    ._pic{
        
        width: 100%;
    }
    ._pic2{
        width: 65%;
    }
    video{
        height: 75%;
        width: 75%;
    }
    audio {
        height: 10%;
        width: 10%;
    }
    .row {
     
        width: 97.5%;
      
    }
    h3 {
        font-size: 1.5em;
    }
    
    .col {
        width: 50%;
        flex: 1;
        font-size: 1.2em;
    }
    .col h3 {
        
        font-size: .9em;
        height: 30px;

    }
    .col ul {
        font-size: 1.0em;
        padding: 0 10%;
    }
    .col2 {
        flex: 1;
        font-size: 2.1em;
    }

    .col2 ul{
        font-size: 1.0em;
        line-height: 90%;
        padding: 0 40%;
    }
    .col3{
        flex: 1;
        font-size: 1.4em;
        line-height: 125%;

    }
    .col3 p {
        line-height: 100%;
    }
    .col3 ul{
        font-size: 1.0em;
        
    }
    .col3 h4{
        font-size: 1.0em;
    }
    .col2 h3 {
        font-size: 1.3em;
    }
    footer {
        font-size: 1.5em;
    }
  }

  @media screen and (min-width: 1024px) {
    main p2 {
        font-size: 1.8em;
    }
    main ul {
        padding: 0 20%;
    }
    h2 {
        font-size: 3.0em;
    }
    h3 {
        font-size: 2.5em;
    }
    .row{
        width: 99%;
    }
    .col {
        font-size: 2.3em;
    }
    .col h3{
        font-size: .9em;
        

    }
    .col2 h3 {
        font-size: 1.0em;
    }
    .col2 {
        flex: 1;
        font-size: 2.5em;
        
        

    }
    .col2 ul{
        
        font-size: .9em;
        padding:  0 40%;

    }
    .col3{
        line-height: 225%;
    }
    .col3 h4{
        font-size: 2.0em;
    }
    .col ul {
        font-size: 1.0em;
        padding: 0 25%;
    }
    .product_container{
        display: block;

        font-size: 1.0em;
    }

    .button{
        height: fit-content;
        line-height: 50px;
    }
    ._pic{
        width: 50%;
    }
    ._pic2{
        width: 45%;
    }
    audio {
        height: 5%;
        width: 5%;
    }
    video {
        height: 50%;
        width: 50%;
    }
    .single_page {
        width: 100%;
    }

    section img{
        width: 50%;
    }

    table img{
        width: 50%;
   }
   table {
    width: 100%;
   }
  }